.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ajouter une ombre pour un effet moderne */
}

.logo img {
    max-height: 50px;
}

.menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #ff6347; /* Changer la couleur au hover */
}

.userIcon a {
    display: flex;
    align-items: center;
    color: #333;
}

.mobileToggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.3s;
}

/* Responsive Styles */
@media (max-width: 768px) {
/* Existing styles */

.menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 15px !important;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Remove align-items property here */
  }
  
  /* New styles for Arabic language */
  .menuArabic {
    direction: rtl;       /* Set text and layout direction to right-to-left */
    text-align: right;    /* Align text to the right */
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    margin-bottom: 10px;
  }
  
  .menu ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  /* Rest of your styles */
  
    .menu.open {
        display: flex;
    }

    .menu ul {
        flex-direction: column;
        gap: 15px;
    }

    .mobileToggle {
        display: flex;
    }

    .hamburger {
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 5px 0;
        transition: all 0.3s ease;
    }

    .mobileToggle.open .hamburger:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .mobileToggle.open .hamburger:nth-child(2) {
        opacity: 0;
    }

    .mobileToggle.open .hamburger:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}
