.container {
    padding: 40px;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  
  .ltr {
    direction: ltr;
    text-align: left;
  }
  
  .rtl {
    direction: rtl;
    text-align: right;
  }
  
  .policySection {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .title {
    font-size: 32px;
    color: #ff6347;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .content {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
  }
  
 .content h2 {
    font-size: 24px;
    color: #ff6347;
    margin-bottom: 10px;
  }
  
 .content p {
    margin-bottom: 20px;
  }
  