@tailwind base;
@tailwind components;
@tailwind utilities;


.floatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f87171;
  color: white;
  padding: 15px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
